.newsletter-and-social {
  display: grid;
  padding: 1rem;
  grid-template-columns: 2fr 1fr;
  border-top: 1px solid rgba(92, 92, 92, 0.2);
  border-bottom: 1px solid rgba(92, 92, 92, 0.2);
  margin-bottom: 2rem;
}

.newsletter-and-social .newsletter {
  border-right: 1px solid rgba(92, 92, 92, 0.2);
}
.newsletter-and-social .social {
  padding-left: 1rem;
  justify-self: center;
}

.newsletter .newsletter-headline {
  width: 12ch;
  color: rgb(31, 30, 30);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.newsletter .newsletter-input {
  font-family: "Maison Neue", sans-serif;
  width: 90%;
  padding: 0.5rem;
  font-size: 1.3rem;
  display: block;
  margin-bottom: 1rem;
}

.newsletter .newsletter-input:valid ~ .newsletter-button {
  cursor: pointer;
}

.newsletter .newsletter-input:invalid ~ .newsletter-button {
  background-color: grey;
  color: white;
  cursor: auto;
}
.social .social-headline {
  text-align: center;
  width: 15ch;
  color: rgb(31, 30, 30);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.social .social-nav-list {
  list-style-type: none;
  display: grid;
  justify-content: center;
  grid-template-columns: 5rem 5rem;
  gap: 1rem;
}
